<div class="container" style="text-align: center;">
    <h1>About</h1>
    <p style="text-align: justify;"><br>
        I'm a Information Systems Analyst and Developer. I love to solve design problems, develop new features and design prototypes using different mediums. My work is mainly focused on Software Development. As for software designs, my work mainly involves creation of web applications. besides, I also like doing manuals and video tutorials, where I can express my creative thought process.
    </p>
</div>