<div class="container" style="text-align: center;">
    
    <br>
    <img class="profile" src="assets/imagePerfil.jfif" alt=""><br><br>
    <p>
        <a href="https://github.com/evidenciasponao/">
            <img src="assets/1.png" alt="" width="44" height="33">
        </a>
        |  
        <a href="https://www.linkedin.com/in/anderson-montenegro-6498a3231/">
            <img src="assets/2.png" alt="" width="44" height="33">
        </a>
        |  
        <a href="https://wa.me/573214521011">
            <img src="assets/3.png" alt="" width="44" height="33">
        </a>
        |  
        <a href="mailto:evidenciasponao@gmail.com">
            <img src="assets/4.png" alt="" width="44" height="33">
        </a>      
    </p>
</div>




<div class="test">
</div>


<!-- <div class="container" style="text-align: center;">
    <br>
    <a id="services"></a>
    <h1>Services</h1>
    <p style="text-align: justify;"><br>
        Technologist in Software Analysis and Development, B2 in English, I have knowledge in agile SCRUM methodologies, continuous development of CI/CD software, use of GIT version control systems, development of REST API applications, cloud services with AWS and Azure, prototype design with FIGMA
Frontend languages: Angular, React, JavaScript
Backend languages: JavaScript, Python, SQL
In my free time I like to run, listen to music and learn about new technologies
    </p>
</div>


<div class="container" style="text-align: center;">
    <br>
    <a id="about"></a>
    <h1>About</h1>
    <p style="text-align: justify;"><br>
        I'm a Information Systems Analyst and Developer. I love to solve design problems, develop new features and design prototypes using different mediums. My work is mainly focused on Software Development. As for software designs, my work mainly involves creation of web applications. besides, I also like doing manuals and video tutorials, where I can express my creative thought process.
    </p>
</div> -->





<div class="container2"><h1>Software Analysis and Developer</h1><br>
<h2 class="banner.title">New features and design prototypes using different mediums. <br><br>
</h2>
</div>
<div class="banner" style="text-align: center;">
<br>

<div class="future" style="text-align: right;"><h1><br>
    Join me to build the future.</h1><br><br>
<h2>Accessibility to build for everyone around the world.
</h2>
<br><br><br>
</div>

<div class="card" style="text-align: center;"><br>
<h1>Web Applications</h1><br>
<div class="container-fluid cew-9">
    <div class="row">
     <div class="col">
<img src="assets/angular.png" alt="" width="290" height="290">
<p>Angular CLI 15 Web Application</p>
<a href="https://jovial-hummingbird-5a4494.netlify.app/">|LIVE DEMO|</a>
<br><br>
     </div>
     <div class="col">
        <img src="assets/nextjs.png" alt="" width="290" height="290">
        <p>Nextjs13 REST API</p>
        <a href="https://jovial-hummingbird-5a4494.netlify.app/">|LIVE DEMO|</a>
        <br>
    </div>
    </div>
   </div>
   <br><br>
</div><br>


