<div class="container" style="text-align: center;">
    <br>
    <img class="profile" src="assets/imagePerfil.jfif" alt=""><br><br>
    <p>
        <a href="https://github.com/evidenciasponao/">
            <img src="assets/1.png" alt="" width="44" height="33">
        </a>
        |  
        <a href="https://www.linkedin.com/in/anderson-montenegro-6498a3231/">
            <img src="assets/2.png" alt="" width="44" height="33">
        </a>
        |  
        <a href="https://wa.me/573214521011">
            <img src="assets/3.png" alt="" width="44" height="33">
        </a>
        |  
        <a href="mailto:evidenciasponao@gmail.com">
            <img src="assets/4.png" alt="" width="44" height="33">
        </a>      
    </p>
</div>
<div class="test">
</div>

<div class="container2"><h1>Software Analysis and Developer</h1><br>
<h2 class="banner.title">New features and design prototypes using different mediums<br><br>
</h2>
</div>
<div class="banner" style="text-align: center;">
<br>

<div class="future" style="text-align: right;"><h1><br><br>
    Join me to build the future</h1><br><br>
<h2>Accessibility to build for everyone around the world
</h2>
<br><br><br><br><br>
</div>

<div class="card" style="text-align: center;"><br>
<h1></h1><br><br><br>
<div class="container-fluid cew-9">
    <div class="row">
     <div class="col">
<img src="assets/angular.png" alt="" width="290" height="290">
<p>Angular CLI 15 Web Application</p>
<a class="link" href="https://cerulean-meerkat-b83378.netlify.app/">|LIVE DEMO|</a>
<br><br><br>
     </div>
     <div class="col">
        <img src="assets/angular2.png" alt="" width="290" height="290">
        <p>Angular CLI 15 Web Application</p>
        <a class="link" href="https://startling-twilight-1729f2.netlify.app/">|LIVE DEMO|</a>
        <br>
    </div>
    </div>
   </div>
   <br><br><br>
</div><br>