<div class="container" style="text-align: center;">
    <h1>Services</h1>
    <p style="text-align: justify;"><br>
        Technologist in Software Analysis and Development, B2 in English, I have knowledge in agile SCRUM methodologies, continuous development of CI/CD software, use of GIT version control systems, development of REST API applications, cloud services with AWS and Azure, prototype design with FIGMA
Frontend languages: Angular, React, JavaScript
Backend languages: JavaScript, Python, SQL
In my free time I like to run, listen to music and learn about new technologies
    </p>
</div>